# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.balloon_shooter.iml
# Datasource local storage ignored files
/../../../../../../../:\github\balloon_shooter\balloon_shooter\.idea\.idea.balloon_shooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
